.legal-page {
  background-color: white;
  color: #121212;
  max-width: 900px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(255, 105, 180, 0.15); /* blaga roze senka */
  font-family: 'Poppins', sans-serif;
}

.legal-page h1 {
  font-size: 2.5rem;
  color: #ff80ab;
  margin-bottom: 30px;
  text-align: center;
}

.legal-page h2 {
  color: #f06292;
  margin-top: 30px;
  font-size: 1.4rem;
}

.legal-page p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.legal-page ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.legal-page li {
  font-size: 1.05rem;
  line-height: 1.5;
}

.legal-page a {
  color: #ff4081;
  text-decoration: underline;
}

.legal-page a:hover {
  color: #d81b60;
}
